<!-- <div class="starter-template">

</div> -->

<center>
      <h3>This is the song that doesn't end</h3>
      <br>
      <%= image_tag "lambchop1.jpg" %>
      <br>
      <br>
      <a href="verse_2">Next >></a>
</center>
